body{
  background-color: #d5e1ef;
}

img{
  height: 287px;
  width: 288px;
  margin: 15px;
  border-radius: 10px;
}


.container{
  margin: 100px auto;
  background-color: white;
  text-align: center;
  height: 496px;
  width: 319px;
  border-radius: 10px;
}

.heading{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
}

.para{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 10px;
  color: hsl(220, 15%, 55%);
}
